<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>Adding book</title>
	<style>
		tr td {
		  display: block;
		  padding: 10px 20px;
		}
		tr {
		  border: 1px solid black;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Add a new book</h1>
		<form action="#" th:action="@{../savebook}" th:object="${book}" method="post">
			<table>
				<tr>
					<td>Author: <input type="text" th:field="${book.author}" /> </td>
					<td>Title: <input type="text" th:field="${book.title}" /> </td>
					<td>Year: <input type="text" th:field="${book.year}" /> </td>
					<td>ISBN: <input type="text" th:field="${book.isbn}" /> </td>
					<td>Price: <input type="text" th:field="${book.price}" /> </td>
					<td>Category: 
						<select th:field="${book.category}" class="form-control">
		       				<option th:each="cat: ${categories}" th:value="${cat.categoryId}" th:text="${cat.name}"></option>
		    			</select>
	    			</td>
				</tr>
			</table>
			<br />
			<input class="btn btn-success" type="submit" value="Save"/>
			<a class="btn btn-basic" href="/booklist">Cancel</a>
		</form>
	</div>
</body>
</html>